[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11.*"
"rasterio" = "==1.0a12"
"90ed60a" = {path = "./seedsource-core", editable = true}
certifi = "*"
django-celery-results = "*"
social-auth-app-django = "*"
"psycopg2" = "*"
djangorestframework-filters = "*"
django-webpack-loader = "*"

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
