[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=1.11.23,<1.12"
"rasterio" = "==1.0a12"
"pip" = {path = "./seedsource-core", editable = true}
certifi = "*"
django-celery-results = "*"
social-auth-app-django = "*"
"psycopg2" = "*"
djangorestframework-filters = "*"
django-webpack-loader = "*"
celery = "==4.3.*"
weasyprint = "==0.42.*"
pyproj = "<2"
sentry-sdk = "==0.16.1"

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
