@import '../../seedsource-core/javascript/scss/variables';

$green: #118334;
$primary: $green;
$tabs-link-active-color: $primary;
$tabs-toggle-link-active-background-color: $primary;
$tabs-toggle-link-active-border-color: $primary;

@import '../../seedsource-core/javascript/scss/seedsource';
