@import '../../seedsource-core/javascript/scss/variables';

$primary: $turquoise;
$tabs-link-active-color: $primary;
$tabs-toggle-link-active-background-color: $primary;
$tabs-toggle-link-active-border-color: $primary;

@import '../../seedsource-core/javascript/scss/seedsource';
